@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-1: #111111;
  --primary-color-2: #161616;
  --secondary-color: #232323;
  --accent-color-1: #3e3e3e;
  --accent-color-2: #b3b3b3;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--primary-color-1);
  color: var(--accent-color-2);
}