.navlinks {
    scrollbar-color: #282828 #B9B9B9;
    
    &::-webkit-scrollbar {
        height: 2px;
    }

    &::-webkit-scrollbar-track {
        background-color: #B9B9B9;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #282828;
    }

    @media (min-width: 768px) {
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}
